/*-------------
	Base Styles
---------------*/

::-moz-selection {
	color: #fff;
	background: #20a5ba;
}
::selection {
	color: #fff;
	background: #20a5ba;
}

body {
	margin: 0;
	padding: 0;
	background-color: #fff;
}

/* Typography */
body {
	font-family: "Lato", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
	font-size: 100%;
	line-height: 1.5;
	font-weight: 300;
	color: #333;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
}

h1 {font-size: 2.375em;}
h2 {font-size: 1.6em;}
h3 {font-size: 1.4em;}
h4 {font-size: 1.2em;}
h5 {font-size: 1.1em;}
h6 {font-size: 1em;}

a {
	color: #4992ad;
	text-decoration: none;
	-webkit-transition: all 0.4s ease;
	   -moz-transition: all 0.4s ease;
	    -ms-transition: all 0.4s ease;
	     -o-transition: all 0.4s ease;
	        transition: all 0.4s ease;
}
a:hover {
	color: #333;
	text-decoration: none;
	-webkit-transition: all 0.2s ease;
	   -moz-transition: all 0.2s ease;
	    -ms-transition: all 0.2s ease;
	     -o-transition: all 0.2s ease;
	        transition: all 0.2s ease;
}
a:focus,
a:active {
	color: #333;
	outline: none;
}

pre, code, kbd, style {
	font-size: .875em;
	font-family: Monaco, "Courier New", Courier, monospace;
}

pre code {
	font-size: 1em;
}

/* Layout */
header, nav, section, article, aside, footer, hgroup {
	display: block;
}

body, p, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, blockquote, th, td {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0.5em;
}

p, pre, dt, ul, ol, hr, legend, input, button, textarea, select, address, table, blockquote {
	margin-bottom: 1.5em;
}

fieldset, img {
	border: 0;
}

img, object {
	vertical-align: bottom;
}

ul li {
	list-style-type: disc;
	list-style-position: inside;
}
ol li {
	list-style-type: decimal;
}

nav ul li {
	list-style: none;
}

sub {
	vertical-align: sub;
	font-size: smaller;
}

sup {
	vertical-align: super;
	font-size: smaller;
}

legend {
	color: #000;
	padding-bottom: .5em;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

th {
	text-align: center;
}
tbody th {
	text-align: left;
}

blockquote, q, em, cite, dfn, i, cite, var, address {
	font-style: italic;
}

blockquote p:before, blockquote p:after, q:before, q:after {content: '';}

th, strong, dt, b {
	font-weight: 400;
}

ins {
	text-decoration: none;
	border-bottom: 3px double #333;
}

del {
	text-decoration: line-through;
}

mark {
	background-color: #FF9;
	color: #000000;
	font-style: italic;
	font-weight: bold;
}

abbr,
acronym {
	border-bottom: 1px dotted #333;
	font-variant: normal;
}

dd {
	padding-left: 20px;
	margin-top: .5em;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #cccccc;
	margin-right: 30px;
	margin-left: 30px;
}

blockquote {
	border-left: 1px solid #ccc;
	padding: 10px 40px 10px 39px;
	margin-left: -40px;
	margin-right: -40px;
	background-color: #fafafa;
}

blockquote p {
	margin-bottom: 0;
}


/*---------------
	Global Styles
-----------------*/

header {
	position: absolute;
	left: 10px;
	bottom: 10px;
	z-index: 14;
}

header h1 {
	background-color: #4992ad;
	background-image: url("http://jackbrewer.co.uk/resource/images/jb-logo.png");
	background-size: 100px auto;
	background-position: 0px 0px;
	background-repeat: no-repeat;
	width: 100px;
	height: 100px;
	margin-bottom: 0;
}

header a {
	display: block;
	height: 100px;
	width: 100px;
	font-size: 1em;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.minimal header {
	position: static;
	margin: 80px auto;
}

.minimal header h1 {
	margin: 0 auto;
}

article {
	width: 500px;
	margin: 40px auto 0;
	padding: 0px 40px;
}

.minimal article {
	width: 450px;
	text-align: center;
}

article h1 {
	text-align: center;
	color: #333;
	font-weight: 300;
	margin-bottom: 1.5em;
}

pre code,
body article style {
	display: block;
	white-space: pre;
	background: #dfdfdf;
	color: #555;
	padding: 15px;
	margin: 30px 0;
	outline: none;
	border-radius: 3px;
	-webkit-box-shadow: 0px 0px 4px #BCBCBC inset;
	   -moz-box-shadow: 0px 0px 4px #BCBCBC inset;
	    -ms-box-shadow: 0px 0px 4px #BCBCBC inset;
	     -o-box-shadow: 0px 0px 4px #BCBCBC inset;
	        box-shadow: 0px 0px 4px #BCBCBC inset;
	-webkit-transition: all 0.6s ease;
	   -moz-transition: all 0.6s ease;
	    -ms-transition: all 0.6s ease;
	     -o-transition: all 0.6s ease;
	        transition: all 0.6s ease;
}

article .example {
	margin-bottom: 3em;
}

pre code:focus,
style:focus {
	color: #333;
	background-color: #f5f5f5;
	-webkit-box-shadow: 0px 0px 6px #999 inset;
	   -moz-box-shadow: 0px 0px 6px #999 inset;
	    -ms-box-shadow: 0px 0px 6px #999 inset;
	     -o-box-shadow: 0px 0px 6px #999 inset;
	        box-shadow: 0px 0px 6px #999 inset;
}

footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
	text-align: right;
	font-size: 0.875em;
	color: #777;
	min-height: 100px;
	padding: 10px 0;
}

footer p.actions {
	margin-bottom: 1.5em;
	margin-left: 120px;
	margin-right: 10px;
}

footer .button {
	position: relative;
	display: inline-block;
	background-color: #aaa;
	border-radius: 1px;
	color: #fff;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding: 8px 11px 9px;
	text-decoration: none;
	margin-bottom: 2px;
	-webkit-transition: background-color .4s ease;
	   -moz-transition: background-color .4s ease;
	    -ms-transition: background-color .4s ease;
	     -o-transition: background-color .4s ease;
	        transition: background-color .4s ease;
}

footer .button:hover {
	color: #fff;
	background-color: #777;
	text-decoration: none;
	-webkit-transition: background-color .2s ease;
	   -moz-transition: background-color .2s ease;
	    -ms-transition: background-color .2s ease;
	     -o-transition: background-color .2s ease;
	        transition: background-color .2s ease;
}

footer small {
	display: block;
	font-size: 1em;
	margin-bottom: 0;
	margin-right: 10px;
}

footer ul {
	margin-bottom: 0;
	margin-right: 10px;
}

footer li {
	display: inline;
}

footer li:first-child::after {
	content: " / ";
}
footer a {
	color: #bbb;
	color: #777;
}

footer a:hover,
footer a:focus,
footer a:active {
	color: inherit;
	text-decoration: underline;
}

footer small a {
	color: #20a5ba;
}